snippet var "completa var"
var(--${0})
endsnippet

snippet :root 
:root {
  --clr-primary: ${1};
  --clr-body: ${2};
  --clr-bg: ${3};
}
endsnippet

snippet absolute
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
endsnippet

snippet com
/*
===================================
      ${0}
===================================
*/
endsnippet
